<article class="locationsList">
<h3>Locations</h3>
<ul>
	{{#each allLocations}}
		<li>Location Name: <a href="/locations/{{id}}">{{name}}</a></li>
		<li>Address: {{location}}</li>
	{{/each}}
</ul>
</article>