<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
		<meta charset="utf-8">
		<title>Lab7</title>
		<link rel="stylesheet" href="/public/style/main.css">
	</head>
	<body>
		<main>
		{{{body}}}
		</main>
	</body>
</html>